@page {
  size: A4;
  margin: 0;
}

@media print {
  body.print-bw * {
    color: black !important;
    background-color: white !important;
  }

  body.print-bw table td,
  body.print-bw table th {
    border: 1px solid black !important;
  }

  nav {
    display: none !important;
  }

  main > div {
    @apply mt-8 w-full gap-y-2 px-8;
  }

  table {
    display: block !important;
    margin-right: auto;
    margin-left: auto;
  }

  .offsets {
    display: block !important;
  }

  h1 {
    @apply text-4xl;
  }
  .hide-print,
  button,
  footer {
    display: none;
  }
}

@media screen {
  main > div {
    @apply gap-y-8 px-4 lg:px-32;
  }

  h1 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
  }

  table {
    @apply mx-auto w-min text-lg md:text-xl lg:text-2xl;
  }

  .offsets {
    @apply mb-16 text-2xl;
  }

  .logo,
  .footer {
    display: none;
  }
}

table td,
th {
  border: 1px solid white;
}
