@page {
  size: A4;
  margin: 0;
}

@media print {
  body.print-bw * {
    color: black !important;
    background-color: white !important;
  }

  body.print-bw table td,
  body.print-bw table th {
    border: 1px solid black !important;
  }

  nav {
    display: none !important;
  }

  main {
    @apply mt-4 w-full gap-y-2 px-8;
    max-width: 100% !important;
  }

  table {
    display: table !important;
    width: 100% !important;
  }

  .offsets {
    display: block !important;
  }

  h1 {
    @apply text-3xl;
  }

  .hide-print,
  button,
  footer {
    display: none !important;
  }
}

@media screen {

  .logo,
  .footer {
    display: none;
  }
}