@import 'tailwindcss';

@theme {
  --color-primary: #131836;
  --color-secondary: #311b92;

  --font-roboto: var(--font-roboto);
  --font-robotomono: var(--font-roboto-mono);
  --font-amiri: var(--font-amiri);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.text-5 {
  @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
}
.text-2 {
  @apply text-lg md:text-xl lg:text-2xl;
}
.text-3 {
  @apply text-xl md:text-2xl lg:text-3xl;
}

.text-clock {
  @apply text-6xl sm:text-7xl md:text-8xl lg:text-9xl;
}
